language: python
python:
  - "2.7"
  - "3.5"
  - "3.8"
script: 
    - source activate travis
    - nosetests --with-doctest
    - python -m peddy -h
    - pwd
    - python -m peddy --plot data/ceph1463.peddy.vcf.gz data/ceph1463.ped
    - conda install -c bioconda htslib # for bgzip and tabix
    - zcat data/ceph1463.peddy.vcf.gz | awk 'BEGIN{FS=OFS="\t"}{ if ($1 !~ /^#/){ $0="chr"$0 } print $0; }' | sed -e 's/contig=<ID=/contig=<ID=chr/' | bgzip -c > chr.vcf.gz
    - tabix chr.vcf.gz
    - python -m peddy chr.vcf.gz data/ceph1463.ped 2>e.log; tail e.log


install:
    - sudo apt-get update
    - unset PYTHONPATH
    - unset PYTHONHOME
    - unset PYTHONUSER
    - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
        wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
      else
        wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
      fi
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda create -q -n travis python=$TRAVIS_PYTHON_VERSION nose
    - source activate travis
    - pip install '.'
    - pwd
